#main_title {
	text-align: center;
	font-size: 3.9375em; /* 63px / 16px  */
	color: #27673F;
	word-spacing: 0.5882352941em; /* 10px / 17px */
	letter-spacing: 0.4117647059em; /* 7px / 17px */
	margin: -1em; /* -50px / 50px */
}

#main_title a {
	text-decoration: none;
	text-align: center;
	font-family: 'Crushed', cursive;
	color: #27673F;

}

#main_menu {
	list-style-type: none;
	margin: 0;
	padding: 15px;
	background-color: #0F3046;
	text-align: center;
}

#main_menu li {
	display: inline;
	padding-right: 10px;
	padding-left: 50px;
}

#main_menu a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 1.15em;
	font-family: 'Raleway', sans-serif;
}

#main_menu #donate_menu {
	text-align: right;
	/*color: #27673F; want to have a background color green block*/
	font-size: 1.25em;
}

#page {
	width: 100%; /* 900px / 960px */
}

.homepage_panel {
	width: 32%; /* 450px / 900px */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 20px;
}

.right_panel {
	width: 20%; /* 450px / 900px */
	float: right;
}

.cta_buttons button {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #666666;
	font-size: 45px;
	padding: 7px;
	width: 90%;
	font-family: 'Crushed', cursive;
	margin-top: 30px;
	border: none;
}

.homepage_header {
	color:#27673F;
	font-family: 'Crushed', cursive;
	text-align: center;
}

.homepage_column p{
	font-family: 'Raleway', sans-serif;
	font-size: 0.9375em;
}

h3 {
	font-family: 'Raleway', sans-serif;
}

footer {
	clear: both;
	padding: 0 15px;
}



/* --------------------------- media queries ----------------------------- */

@media screen and (max-width: 1000px) {
	#main_title {
	font-size: 53px;
	}
}

@media screen and (max-width: 820px) {
	#main_title {
	font-size: 40px;
	}
}

@media screen and (min-width: 768px) {
		#menu {
			display: none;
		}
	}

@media screen and (max-width: 768px) {
	#page {
		position: relative;
		margin: 5px;
		width: auto;
	}

	#menu {
		color: #0F3046;
	}

	#main_title {
		width: auto;
		padding: 5px;
	}

	.homepage_panel,
	.right_panel{
		margin: 0 0 10px;
		width: auto;
	}

	.homepage_header {
		font-size: 25px;
	}

	#main_menu {
		width: auto;
	}

	#main_menu a {
		display: block;
		font-size:1.25em;
		text-align: center;
	}

	#main_menu #donate_menu {
		display: block;
		font-size:1.25em;
		text-align: center;
	}

	#main_menu.js {
			display: none;
		}
	ul {
			width:100%;
			list-style:none;
		}
	li {
			width:100%;
			border-right:none;
		}
}

@media screen and (max-width: 600px) {
	#main_title {
	font-size: 30px;
	}
}





